@charset "UTF-8";
:root {
    /* Color Pallete */
    --clr-white: rgb(255, 255, 255);
    --clr-black: rgb(0, 0, 0);
    --clr-accent: rgb(66, 40, 179);
    /* Text */
    --txt-body-eng: normal normal 300 1em/1.5 "Roboto Condensed", sans-serif;
    --txt-body-jpn: normal normal 300 1em/1.3 "Noto Sans JP", sans-serif;
    --txt-brand: normal normal 280 2.4em/1.5 "Roboto Condensed", sans-serif;
    --txt-title: normal normal 280 2.2em/1.5 "Roboto Condensed", sans-serif;
    --txt-nav: normal normal 260 1.2em/1.5 "Roboto Condensed", sans-serif;
    --txt-contact: normal normal 280 0.9em/1.5 "Roboto Condensed", sans-serif;
    --txt-footer: normal normal 260 0.8em/1.5 "Roboto Condensed", sans-serif;
    --txt-h1: normal normal 320 1.6em/1.5 "Roboto Condensed", sans-serif;
    /* Gallery */
    --img-gap: 64px;
    --img-cols: 5;
    /* Effects*/
    --trans-nav: 0.5s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

/* Body--------------------------------------------- */
body {
    width: 100%;
    margin: 0;
    background-color: var(--clr-white);
    overflow-y: auto;
    scrollbar-gutter: stable;
}

/* Elements----------------------------------------- */
img {
    width: 100vw;
    height: auto;
}
hr {
    width: 100vw;
    height: .1em;
    border: none;
    background-color: var(--clr-accent);
    margin: 1em 0;
}
.txt-eng {
    font: var(--txt-body-eng);
}
.txt-eng h1 {
    font: var(--txt-h1);
}
.txt-eng p {
    font: var(--txt-body-eng);
}
.txt-jpn {
    font: var(--txt-body-jpn);
}
.anchor {
    display: block;
    height: 10vh;
    margin-top: -10vh;
    visibility: hidden;
}
.imgcont {
    max-width: 250px;
}

/* Navigation-------------------------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: 2em;
    padding: .6em 0;
    text-align: center;
    transition: background-color var(--trans-nav);
}
.nav-brand {
    font: var(--txt-brand) ;
    transition: color var(--trans-nav);
}
header nav {
    gap: 1em;
}
header nav a {
    text-decoration: none;
    color: var(--clr-black);
    font: var(--txt-nav);
    margin: 1em;
    transition: color var(--trans-nav);
}
header nav a:hover {
    font-weight: 400;
}
header.scrolled {
    background-color: var(--clr-black);
    opacity: 0.8;
}
header.scrolled nav a {
    color: var(--clr-white);
}
header.scrolled .nav-brand {
    color: var(--clr-white);
}

/* portfolio Box---------------------------------------- */
.portfolio-box {
    display: flex;
    margin: 0 4em;
}
.gallery-container {
    margin: 0;
}

/* Gallery Masonry */
#portfolio {
    line-height: calc(var(--img-gap) * 2) ;
    -webkit-column-count: var(--img-cols);
    -webkit-column-gap: var(--img-gap);
    -moz-column-count: var(--img-cols);
    -moz-column-gap: var(--img-gap);
    column-count: var(--img-cols);
    column-gap: var(--img-gap);
}
#portfolio img {
    width: 100% !important;
    height: auto !important;
}
@media (max-width: 2000px) {
    #portfolio {
        -moz-column-count: calc(var(--img-cols) - 1);
        -webkit-column-count: calc(var(--img-cols) - 1);
        column-count: calc(var(--img-cols) - 1);
    }
}
@media (max-width: 1500px) {
    #portfolio {
        -moz-column-count: calc(var(--img-cols) - 2);
        -webkit-column-count: calc(var(--img-cols) - 2);
        column-count: calc(var(--img-cols) - 2);
    }
}
@media (max-width: 1000px) {
    #portfolio {
        -moz-column-count: calc(var(--img-cols) - 3);
        -webkit-column-count: calc(var(--img-cols) - 3);
        column-count: calc(var(--img-cols) - 3);
    }
}
@media (max-width: 800px) {
    #portfolio {
        -moz-column-count: calc(var(--img-cols) - 4);
        -webkit-column-count: calc(var(--img-cols) - 4);
        column-count: calc(var(--img-cols) - 4);
    }
}

/* Title---------------------------------------------- */
.title-box {
    text-align: center;
    font: var(--txt-title);
    padding: 4em 0;
}
@media (max-width:800px) {
    .title-box {
        padding: 1em 0;
    }
}

/* About Box------------------------------------------ */
.about-container {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.about-box {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    text-align: center;
    padding-bottom: 2em;
}

.about-left {
    max-width: 640px;
}

.about-right {
    max-width: 512px;
}

/* Contact Form----------------------------------------------- */
.contact-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 6em;
}
@media (max-width: 800px) {
    .contact-info {
        padding-bottom: 4em;
    }
}
.contactimg {
    width: 250px;
}

/* Footer------------------------------------------------------ */
footer {
    margin-top: auto;
}

.footer-box {
    background-color: var(--clr-black);
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

.socials img {
    width: 24px;
    height: auto;
}

.footer-text {
    font: var(--txt-footer);
    text-align: center;
    padding-bottom: 4em;
    color: var(--clr-white);
}

/* Tables------------------------------------------------ */
table, tr, td {
    font: var(--txt-body-eng);
    border: 0;
    padding: 0.1em 1em;
}
.rowl {
    text-align: right;
}
.rowr {
    text-align: left;
}